.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form label{
  display: block;
  font: 600 1rem/1.5 "Poppins", sans-serif;
  margin-bottom: 4px;
}

.col-2{
  grid-column: 1/-1;
  
}

.form input[type="text"],
.form input[type="email"],
.form textarea{
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: #EFF5F5 ;
  border: 1px solid #B8CDDB;
  border-radius: 5px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width:600px){
  .form{
    grid-template-columns: 1fr;
  }
}